<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1951</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {2000, 1143}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {2000, 1143}}</string>
                <key>sourceSize</key>
                <string>{2000, 1143}</string>
            </dict>
            <key>PTModelSprite_ID2664</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1147}, {286, 468}}</string>
                <key>offset</key>
                <string>{-96, 17}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{68, 31}, {286, 468}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2663</key>
            <dict>
                <key>frame</key>
                <string>{{290, 1147}, {285, 468}}</string>
                <key>offset</key>
                <string>{-95, 14}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{70, 34}, {285, 468}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2665</key>
            <dict>
                <key>frame</key>
                <string>{{579, 1147}, {303, 458}}</string>
                <key>offset</key>
                <string>{-107, 24}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{49, 29}, {303, 458}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2668</key>
            <dict>
                <key>frame</key>
                <string>{{886, 1147}, {308, 454}}</string>
                <key>offset</key>
                <string>{-111, 17}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{42, 38}, {308, 454}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2667</key>
            <dict>
                <key>frame</key>
                <string>{{1198, 1147}, {322, 452}}</string>
                <key>offset</key>
                <string>{-120, 24}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{26, 32}, {322, 452}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2666</key>
            <dict>
                <key>frame</key>
                <string>{{1524, 1147}, {320, 452}}</string>
                <key>offset</key>
                <string>{-117, 28}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{30, 28}, {320, 452}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID3458</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1619}, {386, 396}}</string>
                <key>offset</key>
                <string>{5, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{10, 2}, {386, 396}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3461</key>
            <dict>
                <key>frame</key>
                <string>{{390, 1619}, {392, 395}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{4, 3}, {392, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3460</key>
            <dict>
                <key>frame</key>
                <string>{{786, 1619}, {390, 395}}</string>
                <key>offset</key>
                <string>{3, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{6, 3}, {390, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3459</key>
            <dict>
                <key>frame</key>
                <string>{{1180, 1619}, {388, 395}}</string>
                <key>offset</key>
                <string>{4, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{8, 3}, {388, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID2395</key>
            <dict>
                <key>frame</key>
                <string>{{1572, 1619}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>PTModelSprite_ID3713</key>
            <dict>
                <key>frame</key>
                <string>{{1848, 1147}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3712</key>
            <dict>
                <key>frame</key>
                <string>{{1848, 1279}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3711</key>
            <dict>
                <key>frame</key>
                <string>{{1848, 1411}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3710</key>
            <dict>
                <key>frame</key>
                <string>{{1832, 1619}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3709</key>
            <dict>
                <key>frame</key>
                <string>{{1572, 1879}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3708</key>
            <dict>
                <key>frame</key>
                <string>{{1704, 1879}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3707</key>
            <dict>
                <key>frame</key>
                <string>{{1836, 1879}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID1952.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID1952.png</string>
        </dict>
    </dict>
</plist>
