<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1972</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {2000, 1143}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {2000, 1143}}</string>
                <key>sourceSize</key>
                <string>{2000, 1143}</string>
            </dict>
            <key>PTModelSprite_ID2671</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1147}, {286, 471}}</string>
                <key>offset</key>
                <string>{-95, 15}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{69, 32}, {286, 471}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2670</key>
            <dict>
                <key>frame</key>
                <string>{{290, 1147}, {286, 468}}</string>
                <key>offset</key>
                <string>{-95, 15}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{69, 33}, {286, 468}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2672</key>
            <dict>
                <key>frame</key>
                <string>{{580, 1147}, {291, 467}}</string>
                <key>offset</key>
                <string>{-99, 19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{63, 30}, {291, 467}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2669</key>
            <dict>
                <key>frame</key>
                <string>{{875, 1147}, {294, 463}}</string>
                <key>offset</key>
                <string>{-101, 17}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{59, 34}, {294, 463}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2673</key>
            <dict>
                <key>frame</key>
                <string>{{1173, 1147}, {306, 454}}</string>
                <key>offset</key>
                <string>{-108, 28}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{46, 27}, {306, 454}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID2674</key>
            <dict>
                <key>frame</key>
                <string>{{1483, 1147}, {314, 443}}</string>
                <key>offset</key>
                <string>{-115, 35}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{35, 26}, {314, 443}}</string>
                <key>sourceSize</key>
                <string>{614, 564}</string>
            </dict>
            <key>PTModelSprite_ID3466</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1622}, {385, 396}}</string>
                <key>offset</key>
                <string>{5, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{11, 2}, {385, 396}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3465</key>
            <dict>
                <key>frame</key>
                <string>{{389, 1622}, {386, 396}}</string>
                <key>offset</key>
                <string>{5, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{10, 2}, {386, 396}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3464</key>
            <dict>
                <key>frame</key>
                <string>{{779, 1622}, {388, 395}}</string>
                <key>offset</key>
                <string>{4, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{8, 3}, {388, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3463</key>
            <dict>
                <key>frame</key>
                <string>{{1171, 1622}, {390, 395}}</string>
                <key>offset</key>
                <string>{3, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{6, 3}, {390, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3462</key>
            <dict>
                <key>frame</key>
                <string>{{1565, 1622}, {392, 395}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{4, 3}, {392, 395}}</string>
                <key>sourceSize</key>
                <string>{397, 401}</string>
            </dict>
            <key>PTModelSprite_ID3716</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 1147}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3715</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 1279}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3714</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 1411}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID1973.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID1973.png</string>
        </dict>
    </dict>
</plist>
